*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.app{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
/* Editing the inputItem field */
.addItem{
  align-self: stretch;
  padding: 5vh;
  margin-bottom: 4px;
  background: linear-gradient(to bottom, red, rgb(255, 255, 255));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addForm{
  display: flex;
  flex-direction: column;
}
.addForm > label {
  flex-basis:6vw;
  max-height: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addForm > label > input{
  padding:1vw;
  flex-grow:2;
  flex-shrink:1;
}
.addForm > label > button{
  flex-grow:1;
padding:0.8vw;
  flex-shrink:2;
}
.searchForm{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: stretch;
}
.searchForm > input{
  align-self: center;
  padding:.8vw;
  flex-basis:40px;
}